.cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  &__container {
    display: flex;
    flex-direction: column;
    width: 385px;
    height: 100vh;
    padding: 30px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  }
  &__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 20px;
    overflow: auto;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    &-btn {
      border: none;
      background-color: transparent;
    }
    & img {
      margin-right: 20px;
    }
  }
  &__text {
    margin-right: 20px;
    font-size: 14px;
    &-price {
      font-weight: 700;
    }
  }
  &__dotted {
    height: 1px;
    position: relative;
    bottom: 2px;
    border-bottom: 1px dotted #dfdfdf;
    flex-grow: 1;
  }
  &__bottom {
    &-cost {
      margin-bottom: 20px;
      display: flex;
      align-items: flex-end;
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      padding: 18px;
      border: none;
      border-radius: 18px;
      font-weight: 600;
      color: #fff;
      background-color: #9dd558;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: lighten(#9dd558, 5%);
        & svg {
          transform: translateX(5px);
        }
      }
      &:active {
        background-color: darken(#9dd558, 5%);
      }
      & svg {
        position: absolute;
        right: 25px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }
}
